<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/more"></ion-back-button>
    </ion-buttons>
    <ion-title>เกี่ยวกับเรา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h1>Jaipun เวอร์ชั่นทดลอง</h1>
<ion-label padding>
  <h2>ทำธรรมะให้น่าอ่านด้วยภาพวาด</h2>
  <p>การทำธรรมะให้น่าอ่านด้วยภาพวาด เป็นแนวคิดหลักในการสร้างแอพนี้ขึ้นมา 
      เพราะเราเชื่อว่า...ภาพวาดจะช่วยเติมเต็มความสดใสและพลังให้แก่ทุก ๆ คำพูดของคุณ และช่วยถ่ายทอดความหมายได้ลึกซึ้งขึ้น</p>
</ion-label>
<ion-label padding>
  <h2>สนับสนุนนักวาดภาพ</h2>
  <p>เราอยากจะสนับสนุนนักวาดภาพให้มีพื้นที่สำหรับลงภาพให้ทุก ๆ คนมาใช้ได้ฟรี ผ่านระบบแพลตฟอร์มของเรา</p>
  <h3 padding>ติดต่อเราได้ที่ line ID : punyaartwort</h3>
</ion-label>


</ion-content>
