<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/more"></ion-back-button>
      </ion-buttons>
    <ion-title>ภาพที่ใช้อยู่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let item of items">
        <ion-avatar slot="start" routerLink="/app/tabs/store/{{item.id}}">
          <img [src]="item.drawTag">
        </ion-avatar>
        <ion-label routerLink="/app/tabs/store/{{item.id}}">
          <h3>{{item.drawname}}</h3>
          <p style="color:#02C39A">{{item.drawnameDetail}}</p>
          <p>จำนวนผู้ใช้ {{item.drawUse}} คน</p>
        </ion-label>
        <ion-buttons slot="end" >
          <ion-button fill="solid" shape="round">&nbsp; select &nbsp;</ion-button>
        </ion-buttons>
      </ion-item>
</ion-content>
