<ion-tabs no-border>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="https://image.flaticon.com/icons/svg/70/70370.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon src="https://image.flaticon.com/icons/svg/325/325335.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="write">
      <ion-icon src="https://image.flaticon.com/icons/svg/1794/1794967.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon src="https://image.flaticon.com/icons/svg/1370/1370930.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon src="https://image.flaticon.com/icons/svg/149/149946.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
