<ion-content>
    <div text-right padding  class="ion-margin-top">
      <a style="text-decoration:none " expand="full" routerLink="/login" routerDirection="forward">Log in</a>
    </div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div text-center>
          <img src="https://jaipun.com/draw/1556328834.png" style="width:210px" alt="">
          <h1 style="color:#02C39A">ธรรมะสั้น ๆ ชวนสบายตา</h1>
          <p style="margin-bottom: 2px;margin-top: 25px">ที่มาพร้อมภาพวาดน่ารักมากมาย</p>
          <p style="margin: 2px;">คัดสรรมาแล้วอย่างดี</p>
          <br>
          <br>

        </div>
      </ion-slide>
      <ion-slide>
          <div text-center>
            <img src="https://jaipun.com/draw/1556328868.png" style="width:210px" alt="">
            <h1 style="color:#02C39A">แบ่งปันข้อคิด คำคม ธรรมะสั้นๆ</h1>
            <p style="margin-bottom: 2px;margin-top: 25px">ร่วมจุดประกายไฟชีวิตให้แก่กันและกัน</p>
            <p style="margin: 2px;">เพียงข้อความสั้น ๆ ของคุณ</p>
          </div>
      </ion-slide>
      <ion-slide>
          <div text-center>
            <img src="https://jaipun.com/draw/1556328879.png" style="width:210px" alt="">
            <h1 style="color:#02C39A">ติดตามคนที่คุณสนใจ</h1>
            <p style="margin-bottom: 2px;margin-top: 25px">สามารถติดตามและส่งข้อความ</p>
            <p style="margin: 2px;">ให้กับคนที่คุณสนใจได้</p>
          </div>
      </ion-slide>
    </ion-slides>
    <div padding>
      <ion-button shape="round" expand="full" routerLink="/register" routerDirection="forward">Create Account</ion-button>
      <p>
        <ion-button shape="round" color="light" expand="full" routerLink="/login" routerDirection="forward"><ion-icon name="logo-facebook"></ion-icon> &nbsp; Continue with Facebook</ion-button>
      </p>
    </div>
      
</ion-content>
